.running-pic {
    border: 3px solid black;
    border-radius: 10px;
  }
  
   body {
      font-family: 'Segoe UI', sans-serif;
      background: #f2f2f2;
      margin: 0;
      padding: 40px;
      text-align: center;
    }
    h1 {
        color: #d72638;
        font-family: 'Segoe UI', sans-serif;
        margin-bottom: 10px;
      }
      
    .fact-card {
      background: white;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      max-width: 500px;
      margin: 20px auto;
      padding: 20px;
      text-align: left;
    }
    .emoji {
      font-size: 2rem;
      margin-right: 10px;
    }
    footer {
      margin-top: 50px;
      font-size: 0.9em;
      color: #777;
    }